@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    font-weight: 100 900;
    src: url("/fonts/Inter-VariableFont_slnt_wght.ttf") format("truetype");
}

:root {
    @apply text-base font-normal antialiased;

    font-family: Inter, sans-serif, system-ui;
}
